.job-container {
  margin: 1rem;
  height: 20vh;
  width: 70vw;
  position: relative;
  cursor: pointer;
}

.job-container-big {
  margin: 2rem;
  height: 70vh;
}

.image-container-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/resources/images/_MG_3704\ copia.jpeg);
  width: 100%;
  height: 100%;
}

.group-images {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s;
  object-fit: cover;
}

.group-images img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.image-hover {
  display: none;
  color: white;
  transition: all 0.3s;
  font-size: 1.5rem;
}

.image-hover > h3 {
  padding: 0.5rem 1.5rem;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: 100;
  text-transform: uppercase;
}

.job-container:hover .image-hover {
  display: block;
  background-color: rgba(0, 0, 0, 0.724);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.job-container:hover .image-group-hover {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-group-hover > h3,
.image-group-hover > h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.image-group-hover > h4 {
  font-weight: 200;
  font-size: 0.8rem;
}

/* Photos job */

.container-options .option {
  width: 80vw;
  height: 20vh;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s;
}

.container-options .option div {
  opacity: 1;
}

.container-options .option img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.container-options .option h2 {
  display: none;
  opacity: 0;
  font-weight: 100;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.container-options .option:hover {
  /* background-color: var(--blanco); */
  color: var(--negro2);
  border: 1px solid black;
}

.container-options .option:hover > div {
  opacity: 0;
  display: none;
}

.container-options .option:hover img {
  display: none;
}

.container-options .option:hover h2 {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

@media (max-width: 600px) {
  .job-container {
    margin: 2rem 0;
    width: 380px;
    height: 200px;
  }

  .job-container-big {
    height: 300px;
    width: 380px;
  }

  .container-options .option {
    width: 90vw;
    overflow: hidden;
  }

  .container-options .option h2 {
    font-size: 1.2rem;
  }
}
