.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-video > h2 {
  margin-left: 5rem;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 1.5rem;
}

.video {
  margin-top: 2rem;
  max-width: 95%;
}

@media (max-width: 600px) {
  .video {
    margin-top: 0;
    height: 300px;
    width: 95%;
  }

  .container-video > h2 {
    margin-left: 0;
  }
}
