@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: Muli, Helvetica Neue, sans-serif; */
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

div.App > main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > img {
  width: 70px;
}

html {
  scroll-behavior: smooth;
  /* Paletas de colores */
  /* Blanco: */
  --blanco: #ffffff;
  --blanco2: #f8f8f8;
  --blanco3: #f2f2f2;
  --blanco4: #ececec;

  /* Gris: */
  --gris: #aaaaaa;
  --gris2: #999999;
  --gris3: #666666;
  --gris4: #333333;

  /* Negro: */
  --negro: #000000;
  --negro2: #111111;
  --negro3: #222222;
  --negro4: #333333d1;
}
