* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Muli, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

div.App > main {
  flex-grow: 1;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
  /* Paletas de colores */
  /* Blanco: */
  --blanco: #ffffff;
  --blanco2: #f8f8f8;
  --blanco3: #f2f2f2;
  --blanco4: #ececec;

  /* Gris: */
  --gris: #aaaaaa;
  --gris2: #999999;
  --gris3: #666666;
  --gris4: #333333;

  /* Negro: */
  --negro: #000000;
  --negro2: #111111;
  --negro3: #222222;
  --negro4: #333333d1;
}
